{% extends 'auth_freedom/base.html' %}
{% load static %}

{% block title %}Регистрация - Шаг 2{% endblock %}

{% block extra_css %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="left-side">
        <h1>Идеальная работа начинается с точного подбора</h1>
        <div class="illustration">
            <img src="{% static 'pics/pic.png' %}" alt="Illustration">
        </div>
    </div>
    <div class="right-side">
        <div class="form-container">
            <div class="progress-bar">
                <div style="opacity: 0.5;">1</div>
                <div class="line" style="opacity: 0.5;"></div>
                <div>2</div>
                <div class="line"></div>
                <div style="opacity: 0.5;">3</div>
            </div>
            <h2>Регистрация</h2>
            <p style="font-size: 14px; color: #666;">Расскажите о своем опыте</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Далее</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 